@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .ct-top-menu-item {
        @apply cursor-pointer text-white py-1  relative after:lg:absolute after:lg:bottom-0 after:lg:left-0 after:lg:h-0.5 after:lg:w-0  hover:after:lg:w-full after:lg:bg-red-600 after:lg:transition-all after:lg:ease-in-out after:lg:duration-300;
    }
    .ct-top-menu-icon-active {
        @apply text-red-600 text-[17px];
    }
}
